@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

:root {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif !important;
}

.left-side-wrapper {
	flex: 1;
	height: 100vh;
	border-right: 1px solid #cbd5e1;
}

.right-side-wrapper {
	flex: 6;
}

body {
	height: 100vh;
	font-size: 16px !important;
	background: rgb(51, 65, 85);
	background: linear-gradient(
		90deg,
		rgba(51, 65, 85, 1) 0%,
		rgba(71, 85, 105, 1) 50%,
		rgba(100, 116, 139, 1) 100%
	);
}

.container {
	display: flex;
}

.section1-top-wrapper {
	display: flex;
	gap: 1rem;
	padding: 1.5rem;
	align-items: center;
	border-bottom: 2px solid #cbd5e1;
}

.dash-logo > img {
	fill: white;
}

.text-logo {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	padding: 1.5rem 2.5rem;
	gap: 1.2rem;
	color: white;
	font-size: 14px;
}

.logo > img {
	width: 25px;
}

.section1-middle-wrapper {
	padding-top: 2rem;
}
.section1-bottom-wrapper {
	margin-top: 5rem;
}

.search-bar-wrapper {
	display: flex;
	align-items: center;
	height: 8.3rem;
	gap: 1.6rem;
	flex: 5;
}

.search-bar {
	background-color: #64748b;
	border-radius: 1.5rem;
	padding: 15px;
	height: 35px;
	width: 100%;
}

.user-information-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	flex: 2;
}

.user-text > h2 {
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
}

.user-logo > img {
	width: 30px;
}

.flex-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.profile {
	box-sizing: content-box;
	background-color: #0f172a;
	padding: 1.5rem;
	border-radius: 100%;
}

.big > img {
	width: 4.5rem;
}

.section2-left-side {
	display: flex;
	flex: 1;
	align-items: center;
}

.big {
	padding-left: 5.8rem;
}

.left-text {
	color: white;
	font-size: 20px;
}

.left-text.O1 {
	font-size: 14px;
}

.text-wrapper-sec2 > p {
	padding: 0.8rem;
}

.section2-right-side {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	flex: 1;
}

.button-right-side {
	width: 12rem;
	height: 4rem;
	border: none;
	font-size: 1.7rem;
	border-radius: 2rem;
	color: white;
	font-weight: bolder;
	background-color: #3a485c;
}

.section2-top-wrapper {
}

.border-bot-pad {
	padding-bottom: 2rem;
	border-bottom: 1px solid #cbd5e1;
}
